キーワードを抽出して以下のjson形式で回答してください。

[json形式]
```
{
  "keywords": この研究で特別に扱っているもの（キーワード）（リスト）,
  "necessary_knowledge":この論文を読むための前提知識を調べるのに有用な検索キーワード（リスト）,
}
```

[制約]
ただし、以下の制約を守ってください。
A. 対象の文章は論文の概要ページの内容です。TeX形式で書かれています。
B. json形式の出力だけを返してください。
C. 研究者をターゲットに内容してください。
D. キーワードは英語で回答してください。

[タイトル]
{{ title }}

[本文（論文概要）]
{{ summary }}
