タイトル

{{ summary_to_description.title }}

主要な結果。

{{ summary_to_description.main_result }}

先行研究との違い。

{{ summary_to_description.difference }}

{% if summary_to_description.how_to %}
手法。

{{ summary_to_description.how_to }}

{% endif %}

必要な前提知識。
{{ keywords_to_study_hint }}
