日本語でまとめをjson形式作成してください。

json 形式は以下の形にしてください。

```
{
  "title": タイトルの日本語訳,
  "main_result": 論文の主結果（どういうテーマの研究を行ったか・何を達成できたか）,
  "difference": 先行研究との違い（どういう新規性のある研究を行ったか）,
  "how_to": 論文の手法の概要（該当部分がなければ null）
}
```

[制約]
ただし、以下の制約を守ってください。
A. 対象の文章はTeX形式で書かれています。まとめは、TeX形式は含まないようにしてください。
B. json形式の出力だけを返してください。
C. 術語や人名はカタカナ表記にしてください。
D. まとめのターゲットは研究者をターゲットにしてください。

[タイトル]
{{ title }}

[入力（以降の内容をまとめてください）]
{{ summary }}
