論文で出てきたキーワードもとに、論文を読むために必要な前提知識を簡単に日本語で説明してください。

[論文の概要]
タイトル: {{ title }}
タイトル（日本語）: {{ title_jp }}
主要結果: {{ main_result }}
キーワード: {{ keywords }}

[前提知識として知っているべきキーワード]
{{ necessary_knowledge }}

[制約]
読み上げソフトを利用するために、以下の制約を必ず守ってください。
1. アルファベット表記はしてはならない
1.1. 特に、人名や用語は忘れずカタカナの読みに変更すること
1.2. 一般的な訳語がある場合は、日本語でもよい。
1.3. 少数文字数の略語はそのままでよい。
2. 用語にはTeX形式が含まれます。TeX形式が出現しないように上手く言い換えること。
3. 論文の内容に関係の強いものを5個程度選んで説明すること。
4. 説明以上のことは不要。

これらの制約は絶対です。必ず守ってください。

[例]
[[反則事例]]
制約を守っていないため、これらは不適切です。
```
多様体（manifold）: (説明）
$\mathbb{Z}_n$:(説明)
Einstein: （説明）
```
これらの書き方は絶対に避けてください。

[[正解例]]
以下のように制約を守ってください。
```
多様体: (説明）
Z_n: (説明)
アインシュタイン: (説明)
```
